<strong>Hei! {{ provider }}</strong>
<p>Você tem uma nova inscrição! Veja os detalhes:</p>
<p>
    <strong>Nome: </strong> {{ user }} <br />
    <strong>Quando: </strong> {{ date }} <br />
    <br />
    <small>
        Keep engajing your community!
    </small>
</p>